1.8.3.patched/.project
1.8.3.patched/.settings
1.8.3.patched/Makefile
1.8.3.patched/Makefile.in
1.8.3.patched/aclocal.m4
1.8.3.patched/autom4te.cache
1.8.3.patched/compile
1.8.3.patched/config.guess
1.8.3.patched/config.log
1.8.3.patched/config.status
1.8.3.patched/config.sub
1.8.3.patched/configure
1.8.3.patched/create/Makefile
1.8.3.patched/create/Makefile.in
1.8.3.patched/create/schema/mysql.sql
1.8.3.patched/create/schema/oracle.sql
1.8.3.patched/create/schema/postgresql.sql
1.8.3.patched/create/schema/sqlite.sql
1.8.3.patched/depcomp
1.8.3.patched/frontends/php/conf/zabbix.conf.php
1.8.3.patched/frontends/php/conf/zabbix.conf.php.bckp
1.8.3.patched/frontends/php/images/general/*.db
1.8.3.patched/frontends/php/images/general/bar/*.db
1.8.3.patched/frontends/php/images/general/bttn/*.db
1.8.3.patched/frontends/php/images/general/tree/*.db
1.8.3.patched/include/config.h
1.8.3.patched/include/config.h.in
1.8.3.patched/include/stamp-h1
1.8.3.patched/install-sh
1.8.3.patched/man/Makefile
1.8.3.patched/man/Makefile.in
1.8.3.patched/misc/Makefile
1.8.3.patched/misc/Makefile.in
1.8.3.patched/missing
1.8.3.patched/nbproject
1.8.3.patched/src/Makefile
1.8.3.patched/src/Makefile.in
1.8.3.patched/src/libs/Makefile
1.8.3.patched/src/libs/Makefile.in
1.8.3.patched/src/libs/zbxalgo/.deps
1.8.3.patched/src/libs/zbxalgo/Makefile
1.8.3.patched/src/libs/zbxalgo/Makefile.in
1.8.3.patched/src/libs/zbxcommon/.deps
1.8.3.patched/src/libs/zbxcommon/Makefile
1.8.3.patched/src/libs/zbxcommon/Makefile.in
1.8.3.patched/src/libs/zbxcomms/.deps
1.8.3.patched/src/libs/zbxcomms/Makefile
1.8.3.patched/src/libs/zbxcomms/Makefile.in
1.8.3.patched/src/libs/zbxcommshigh/.deps
1.8.3.patched/src/libs/zbxcommshigh/Makefile
1.8.3.patched/src/libs/zbxcommshigh/Makefile.in
1.8.3.patched/src/libs/zbxconf/.deps
1.8.3.patched/src/libs/zbxconf/Makefile
1.8.3.patched/src/libs/zbxconf/Makefile.in
1.8.3.patched/src/libs/zbxcrypto/.deps
1.8.3.patched/src/libs/zbxcrypto/Makefile
1.8.3.patched/src/libs/zbxcrypto/Makefile.in
1.8.3.patched/src/libs/zbxdb/.deps
1.8.3.patched/src/libs/zbxdb/Makefile
1.8.3.patched/src/libs/zbxdb/Makefile.in
1.8.3.patched/src/libs/zbxdbcache/.deps
1.8.3.patched/src/libs/zbxdbcache/Makefile
1.8.3.patched/src/libs/zbxdbcache/Makefile.in
1.8.3.patched/src/libs/zbxdbhigh/.deps
1.8.3.patched/src/libs/zbxdbhigh/Makefile
1.8.3.patched/src/libs/zbxdbhigh/Makefile.in
1.8.3.patched/src/libs/zbxdbhigh/dbschema.c
1.8.3.patched/src/libs/zbxemail/.deps
1.8.3.patched/src/libs/zbxemail/Makefile
1.8.3.patched/src/libs/zbxemail/Makefile.in
1.8.3.patched/src/libs/zbxicmpping/.deps
1.8.3.patched/src/libs/zbxicmpping/Makefile
1.8.3.patched/src/libs/zbxicmpping/Makefile.in
1.8.3.patched/src/libs/zbxjabber/.deps
1.8.3.patched/src/libs/zbxjabber/Makefile
1.8.3.patched/src/libs/zbxjabber/Makefile.in
1.8.3.patched/src/libs/zbxjson/.deps
1.8.3.patched/src/libs/zbxjson/Makefile
1.8.3.patched/src/libs/zbxjson/Makefile.in
1.8.3.patched/src/libs/zbxlog/.deps
1.8.3.patched/src/libs/zbxlog/Makefile
1.8.3.patched/src/libs/zbxlog/Makefile.in
1.8.3.patched/src/libs/zbxmemory/.deps
1.8.3.patched/src/libs/zbxmemory/Makefile
1.8.3.patched/src/libs/zbxmemory/Makefile.in
1.8.3.patched/src/libs/zbxnix/.deps
1.8.3.patched/src/libs/zbxnix/Makefile
1.8.3.patched/src/libs/zbxnix/Makefile.in
1.8.3.patched/src/libs/zbxplugin/.deps
1.8.3.patched/src/libs/zbxplugin/Makefile
1.8.3.patched/src/libs/zbxplugin/Makefile.in
1.8.3.patched/src/libs/zbxserver/.deps
1.8.3.patched/src/libs/zbxserver/Makefile
1.8.3.patched/src/libs/zbxserver/Makefile.in
1.8.3.patched/src/libs/zbxsms/.deps
1.8.3.patched/src/libs/zbxsms/Makefile
1.8.3.patched/src/libs/zbxsms/Makefile.in
1.8.3.patched/src/libs/zbxsys/.deps
1.8.3.patched/src/libs/zbxsys/Makefile
1.8.3.patched/src/libs/zbxsys/Makefile.in
1.8.3.patched/src/libs/zbxsysinfo/.deps
1.8.3.patched/src/libs/zbxsysinfo/Makefile
1.8.3.patched/src/libs/zbxsysinfo/Makefile.in
1.8.3.patched/src/libs/zbxsysinfo/aix/.deps
1.8.3.patched/src/libs/zbxsysinfo/aix/Makefile
1.8.3.patched/src/libs/zbxsysinfo/aix/Makefile.in
1.8.3.patched/src/libs/zbxsysinfo/common/.deps
1.8.3.patched/src/libs/zbxsysinfo/common/Makefile
1.8.3.patched/src/libs/zbxsysinfo/common/Makefile.in
1.8.3.patched/src/libs/zbxsysinfo/freebsd/.deps
1.8.3.patched/src/libs/zbxsysinfo/freebsd/Makefile
1.8.3.patched/src/libs/zbxsysinfo/freebsd/Makefile.in
1.8.3.patched/src/libs/zbxsysinfo/hpux/.deps
1.8.3.patched/src/libs/zbxsysinfo/hpux/Makefile
1.8.3.patched/src/libs/zbxsysinfo/hpux/Makefile.in
1.8.3.patched/src/libs/zbxsysinfo/linux/.deps
1.8.3.patched/src/libs/zbxsysinfo/linux/Makefile
1.8.3.patched/src/libs/zbxsysinfo/linux/Makefile.in
1.8.3.patched/src/libs/zbxsysinfo/netbsd/.deps
1.8.3.patched/src/libs/zbxsysinfo/netbsd/Makefile
1.8.3.patched/src/libs/zbxsysinfo/netbsd/Makefile.in
1.8.3.patched/src/libs/zbxsysinfo/openbsd/.deps
1.8.3.patched/src/libs/zbxsysinfo/openbsd/Makefile
1.8.3.patched/src/libs/zbxsysinfo/openbsd/Makefile.in
1.8.3.patched/src/libs/zbxsysinfo/osf/.deps
1.8.3.patched/src/libs/zbxsysinfo/osf/Makefile
1.8.3.patched/src/libs/zbxsysinfo/osf/Makefile.in
1.8.3.patched/src/libs/zbxsysinfo/osx/.deps
1.8.3.patched/src/libs/zbxsysinfo/osx/Makefile
1.8.3.patched/src/libs/zbxsysinfo/osx/Makefile.in
1.8.3.patched/src/libs/zbxsysinfo/simple/.deps
1.8.3.patched/src/libs/zbxsysinfo/simple/Makefile
1.8.3.patched/src/libs/zbxsysinfo/simple/Makefile.in
1.8.3.patched/src/libs/zbxsysinfo/solaris/.deps
1.8.3.patched/src/libs/zbxsysinfo/solaris/Makefile
1.8.3.patched/src/libs/zbxsysinfo/solaris/Makefile.in
1.8.3.patched/src/libs/zbxsysinfo/unknown/.deps
1.8.3.patched/src/libs/zbxsysinfo/unknown/Makefile
1.8.3.patched/src/libs/zbxsysinfo/unknown/Makefile.in
1.8.3.patched/src/zabbix_agent/.deps
1.8.3.patched/src/zabbix_agent/Makefile
1.8.3.patched/src/zabbix_agent/Makefile.in
1.8.3.patched/src/zabbix_agent/zabbix_agent
1.8.3.patched/src/zabbix_agent/zabbix_agentd
1.8.3.patched/src/zabbix_get/.deps
1.8.3.patched/src/zabbix_get/Makefile
1.8.3.patched/src/zabbix_get/Makefile.in
1.8.3.patched/src/zabbix_get/zabbix_get
1.8.3.patched/src/zabbix_proxy/.deps
1.8.3.patched/src/zabbix_proxy/Makefile
1.8.3.patched/src/zabbix_proxy/Makefile.in
1.8.3.patched/src/zabbix_proxy/datasender/.deps
1.8.3.patched/src/zabbix_proxy/datasender/Makefile
1.8.3.patched/src/zabbix_proxy/datasender/Makefile.in
1.8.3.patched/src/zabbix_proxy/heart/.deps
1.8.3.patched/src/zabbix_proxy/heart/Makefile
1.8.3.patched/src/zabbix_proxy/heart/Makefile.in
1.8.3.patched/src/zabbix_proxy/housekeeper/.deps
1.8.3.patched/src/zabbix_proxy/housekeeper/Makefile
1.8.3.patched/src/zabbix_proxy/housekeeper/Makefile.in
1.8.3.patched/src/zabbix_proxy/proxyconfig/.deps
1.8.3.patched/src/zabbix_proxy/proxyconfig/Makefile
1.8.3.patched/src/zabbix_proxy/proxyconfig/Makefile.in
1.8.3.patched/src/zabbix_proxy/zabbix_proxy
1.8.3.patched/src/zabbix_sender/.deps
1.8.3.patched/src/zabbix_sender/Makefile
1.8.3.patched/src/zabbix_sender/Makefile.in
1.8.3.patched/src/zabbix_sender/zabbix_sender
1.8.3.patched/src/zabbix_server/.deps
1.8.3.patched/src/zabbix_server/Makefile
1.8.3.patched/src/zabbix_server/Makefile.in
1.8.3.patched/src/zabbix_server/alerter/.deps
1.8.3.patched/src/zabbix_server/alerter/Makefile
1.8.3.patched/src/zabbix_server/alerter/Makefile.in
1.8.3.patched/src/zabbix_server/dbconfig/.deps
1.8.3.patched/src/zabbix_server/dbconfig/Makefile
1.8.3.patched/src/zabbix_server/dbconfig/Makefile.in
1.8.3.patched/src/zabbix_server/dbsyncer/.deps
1.8.3.patched/src/zabbix_server/dbsyncer/Makefile
1.8.3.patched/src/zabbix_server/dbsyncer/Makefile.in
1.8.3.patched/src/zabbix_server/discoverer/.deps
1.8.3.patched/src/zabbix_server/discoverer/Makefile
1.8.3.patched/src/zabbix_server/discoverer/Makefile.in
1.8.3.patched/src/zabbix_server/escalator/.deps
1.8.3.patched/src/zabbix_server/escalator/Makefile
1.8.3.patched/src/zabbix_server/escalator/Makefile.in
1.8.3.patched/src/zabbix_server/housekeeper/.deps
1.8.3.patched/src/zabbix_server/housekeeper/Makefile
1.8.3.patched/src/zabbix_server/housekeeper/Makefile.in
1.8.3.patched/src/zabbix_server/httppoller/.deps
1.8.3.patched/src/zabbix_server/httppoller/Makefile
1.8.3.patched/src/zabbix_server/httppoller/Makefile.in
1.8.3.patched/src/zabbix_server/nodewatcher/.deps
1.8.3.patched/src/zabbix_server/nodewatcher/Makefile
1.8.3.patched/src/zabbix_server/nodewatcher/Makefile.in
1.8.3.patched/src/zabbix_server/pinger/.deps
1.8.3.patched/src/zabbix_server/pinger/Makefile
1.8.3.patched/src/zabbix_server/pinger/Makefile.in
1.8.3.patched/src/zabbix_server/poller/.deps
1.8.3.patched/src/zabbix_server/poller/Makefile
1.8.3.patched/src/zabbix_server/poller/Makefile.in
1.8.3.patched/src/zabbix_server/proxypoller/.deps
1.8.3.patched/src/zabbix_server/proxypoller/Makefile
1.8.3.patched/src/zabbix_server/proxypoller/Makefile.in
1.8.3.patched/src/zabbix_server/timer/.deps
1.8.3.patched/src/zabbix_server/timer/Makefile
1.8.3.patched/src/zabbix_server/timer/Makefile.in
1.8.3.patched/src/zabbix_server/trapper/.deps
1.8.3.patched/src/zabbix_server/trapper/Makefile
1.8.3.patched/src/zabbix_server/trapper/Makefile.in
1.8.3.patched/src/zabbix_server/utils/.deps
1.8.3.patched/src/zabbix_server/utils/Makefile
1.8.3.patched/src/zabbix_server/utils/Makefile.in
1.8.3.patched/src/zabbix_server/watchdog/.deps
1.8.3.patched/src/zabbix_server/watchdog/Makefile
1.8.3.patched/src/zabbix_server/watchdog/Makefile.in
1.8.3.patched/src/zabbix_server/zabbix_server
1.8.3.patched/upgrades/Makefile
1.8.3.patched/upgrades/Makefile.in
1.8.3.patched/zabbix-*.tar.gz
