/Makefile
/Makefile.in
ZBX-1769-stacked_graph/Makefile
ZBX-1769-stacked_graph/Makefile.in
ZBX-1769-stacked_graph/aclocal.m4
ZBX-1769-stacked_graph/autom4te.cache
ZBX-1769-stacked_graph/compile
ZBX-1769-stacked_graph/config.guess
ZBX-1769-stacked_graph/config.log
ZBX-1769-stacked_graph/config.status
ZBX-1769-stacked_graph/config.sub
ZBX-1769-stacked_graph/configure
ZBX-1769-stacked_graph/create/Makefile
ZBX-1769-stacked_graph/create/Makefile.in
ZBX-1769-stacked_graph/create/schema/mysql.sql
ZBX-1769-stacked_graph/create/schema/oracle.sql
ZBX-1769-stacked_graph/create/schema/postgresql.sql
ZBX-1769-stacked_graph/create/schema/sqlite.sql
ZBX-1769-stacked_graph/depcomp
ZBX-1769-stacked_graph/frontends/php/conf/zabbix.conf.php
ZBX-1769-stacked_graph/frontends/php/conf/zabbix.conf.php.bckp
ZBX-1769-stacked_graph/frontends/php/images/general/*.db
ZBX-1769-stacked_graph/frontends/php/images/general/bar/*.db
ZBX-1769-stacked_graph/frontends/php/images/general/bttn/*.db
ZBX-1769-stacked_graph/frontends/php/images/general/tree/*.db
ZBX-1769-stacked_graph/include/config.h
ZBX-1769-stacked_graph/include/config.h.in
ZBX-1769-stacked_graph/include/stamp-h1
ZBX-1769-stacked_graph/install-sh
ZBX-1769-stacked_graph/man/Makefile
ZBX-1769-stacked_graph/man/Makefile.in
ZBX-1769-stacked_graph/misc/Makefile
ZBX-1769-stacked_graph/misc/Makefile.in
ZBX-1769-stacked_graph/missing
ZBX-1769-stacked_graph/nbproject
ZBX-1769-stacked_graph/src/Makefile
ZBX-1769-stacked_graph/src/Makefile.in
ZBX-1769-stacked_graph/src/libs/Makefile
ZBX-1769-stacked_graph/src/libs/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxcommon/.deps
ZBX-1769-stacked_graph/src/libs/zbxcommon/Makefile
ZBX-1769-stacked_graph/src/libs/zbxcommon/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxcomms/.deps
ZBX-1769-stacked_graph/src/libs/zbxcomms/Makefile
ZBX-1769-stacked_graph/src/libs/zbxcomms/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxconf/.deps
ZBX-1769-stacked_graph/src/libs/zbxconf/Makefile
ZBX-1769-stacked_graph/src/libs/zbxconf/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxcrypto/.deps
ZBX-1769-stacked_graph/src/libs/zbxcrypto/Makefile
ZBX-1769-stacked_graph/src/libs/zbxcrypto/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxdb/.deps
ZBX-1769-stacked_graph/src/libs/zbxdb/Makefile
ZBX-1769-stacked_graph/src/libs/zbxdb/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxdbcache/.deps
ZBX-1769-stacked_graph/src/libs/zbxdbcache/Makefile
ZBX-1769-stacked_graph/src/libs/zbxdbcache/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxdbhigh/.deps
ZBX-1769-stacked_graph/src/libs/zbxdbhigh/Makefile
ZBX-1769-stacked_graph/src/libs/zbxdbhigh/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxdbhigh/dbschema.c
ZBX-1769-stacked_graph/src/libs/zbxemail/.deps
ZBX-1769-stacked_graph/src/libs/zbxemail/Makefile
ZBX-1769-stacked_graph/src/libs/zbxemail/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxicmpping/.deps
ZBX-1769-stacked_graph/src/libs/zbxicmpping/Makefile
ZBX-1769-stacked_graph/src/libs/zbxicmpping/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxjabber/.deps
ZBX-1769-stacked_graph/src/libs/zbxjabber/Makefile
ZBX-1769-stacked_graph/src/libs/zbxjabber/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxjson/.deps
ZBX-1769-stacked_graph/src/libs/zbxjson/Makefile
ZBX-1769-stacked_graph/src/libs/zbxjson/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxlog/.deps
ZBX-1769-stacked_graph/src/libs/zbxlog/Makefile
ZBX-1769-stacked_graph/src/libs/zbxlog/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxnix/.deps
ZBX-1769-stacked_graph/src/libs/zbxnix/Makefile
ZBX-1769-stacked_graph/src/libs/zbxnix/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxplugin/.deps
ZBX-1769-stacked_graph/src/libs/zbxplugin/Makefile
ZBX-1769-stacked_graph/src/libs/zbxplugin/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxserver/.deps
ZBX-1769-stacked_graph/src/libs/zbxserver/Makefile
ZBX-1769-stacked_graph/src/libs/zbxserver/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxsms/.deps
ZBX-1769-stacked_graph/src/libs/zbxsms/Makefile
ZBX-1769-stacked_graph/src/libs/zbxsms/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxsys/.deps
ZBX-1769-stacked_graph/src/libs/zbxsys/Makefile
ZBX-1769-stacked_graph/src/libs/zbxsys/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/.deps
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/Makefile
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/aix/.deps
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/aix/Makefile
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/aix/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/common/.deps
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/common/Makefile
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/common/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/freebsd/.deps
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/freebsd/Makefile
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/freebsd/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/hpux/.deps
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/hpux/Makefile
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/hpux/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/linux/.deps
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/linux/Makefile
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/linux/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/netbsd/.deps
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/netbsd/Makefile
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/netbsd/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/openbsd/.deps
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/openbsd/Makefile
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/openbsd/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/osf/.deps
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/osf/Makefile
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/osf/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/osx/.deps
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/osx/Makefile
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/osx/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/simple/.deps
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/simple/Makefile
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/simple/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/solaris/.deps
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/solaris/Makefile
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/solaris/Makefile.in
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/unknown/.deps
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/unknown/Makefile
ZBX-1769-stacked_graph/src/libs/zbxsysinfo/unknown/Makefile.in
ZBX-1769-stacked_graph/src/zabbix_agent/.deps
ZBX-1769-stacked_graph/src/zabbix_agent/Makefile
ZBX-1769-stacked_graph/src/zabbix_agent/Makefile.in
ZBX-1769-stacked_graph/src/zabbix_agent/zabbix_agent
ZBX-1769-stacked_graph/src/zabbix_agent/zabbix_agentd
ZBX-1769-stacked_graph/src/zabbix_get/.deps
ZBX-1769-stacked_graph/src/zabbix_get/Makefile
ZBX-1769-stacked_graph/src/zabbix_get/Makefile.in
ZBX-1769-stacked_graph/src/zabbix_get/zabbix_get
ZBX-1769-stacked_graph/src/zabbix_proxy/.deps
ZBX-1769-stacked_graph/src/zabbix_proxy/Makefile
ZBX-1769-stacked_graph/src/zabbix_proxy/Makefile.in
ZBX-1769-stacked_graph/src/zabbix_proxy/datasender/.deps
ZBX-1769-stacked_graph/src/zabbix_proxy/datasender/Makefile
ZBX-1769-stacked_graph/src/zabbix_proxy/datasender/Makefile.in
ZBX-1769-stacked_graph/src/zabbix_proxy/heart/.deps
ZBX-1769-stacked_graph/src/zabbix_proxy/heart/Makefile
ZBX-1769-stacked_graph/src/zabbix_proxy/heart/Makefile.in
ZBX-1769-stacked_graph/src/zabbix_proxy/housekeeper/.deps
ZBX-1769-stacked_graph/src/zabbix_proxy/housekeeper/Makefile
ZBX-1769-stacked_graph/src/zabbix_proxy/housekeeper/Makefile.in
ZBX-1769-stacked_graph/src/zabbix_proxy/proxyconfig/.deps
ZBX-1769-stacked_graph/src/zabbix_proxy/proxyconfig/Makefile
ZBX-1769-stacked_graph/src/zabbix_proxy/proxyconfig/Makefile.in
ZBX-1769-stacked_graph/src/zabbix_proxy/zabbix_proxy
ZBX-1769-stacked_graph/src/zabbix_sender/.deps
ZBX-1769-stacked_graph/src/zabbix_sender/Makefile
ZBX-1769-stacked_graph/src/zabbix_sender/Makefile.in
ZBX-1769-stacked_graph/src/zabbix_sender/zabbix_sender
ZBX-1769-stacked_graph/src/zabbix_server/.deps
ZBX-1769-stacked_graph/src/zabbix_server/Makefile
ZBX-1769-stacked_graph/src/zabbix_server/Makefile.in
ZBX-1769-stacked_graph/src/zabbix_server/alerter/.deps
ZBX-1769-stacked_graph/src/zabbix_server/alerter/Makefile
ZBX-1769-stacked_graph/src/zabbix_server/alerter/Makefile.in
ZBX-1769-stacked_graph/src/zabbix_server/dbconfig/.deps
ZBX-1769-stacked_graph/src/zabbix_server/dbconfig/Makefile
ZBX-1769-stacked_graph/src/zabbix_server/dbconfig/Makefile.in
ZBX-1769-stacked_graph/src/zabbix_server/dbsyncer/.deps
ZBX-1769-stacked_graph/src/zabbix_server/dbsyncer/Makefile
ZBX-1769-stacked_graph/src/zabbix_server/dbsyncer/Makefile.in
ZBX-1769-stacked_graph/src/zabbix_server/discoverer/.deps
ZBX-1769-stacked_graph/src/zabbix_server/discoverer/Makefile
ZBX-1769-stacked_graph/src/zabbix_server/discoverer/Makefile.in
ZBX-1769-stacked_graph/src/zabbix_server/escalator/.deps
ZBX-1769-stacked_graph/src/zabbix_server/escalator/Makefile
ZBX-1769-stacked_graph/src/zabbix_server/escalator/Makefile.in
ZBX-1769-stacked_graph/src/zabbix_server/housekeeper/.deps
ZBX-1769-stacked_graph/src/zabbix_server/housekeeper/Makefile
ZBX-1769-stacked_graph/src/zabbix_server/housekeeper/Makefile.in
ZBX-1769-stacked_graph/src/zabbix_server/httppoller/.deps
ZBX-1769-stacked_graph/src/zabbix_server/httppoller/Makefile
ZBX-1769-stacked_graph/src/zabbix_server/httppoller/Makefile.in
ZBX-1769-stacked_graph/src/zabbix_server/nodewatcher/.deps
ZBX-1769-stacked_graph/src/zabbix_server/nodewatcher/Makefile
ZBX-1769-stacked_graph/src/zabbix_server/nodewatcher/Makefile.in
ZBX-1769-stacked_graph/src/zabbix_server/pinger/.deps
ZBX-1769-stacked_graph/src/zabbix_server/pinger/Makefile
ZBX-1769-stacked_graph/src/zabbix_server/pinger/Makefile.in
ZBX-1769-stacked_graph/src/zabbix_server/poller/.deps
ZBX-1769-stacked_graph/src/zabbix_server/poller/Makefile
ZBX-1769-stacked_graph/src/zabbix_server/poller/Makefile.in
ZBX-1769-stacked_graph/src/zabbix_server/timer/.deps
ZBX-1769-stacked_graph/src/zabbix_server/timer/Makefile
ZBX-1769-stacked_graph/src/zabbix_server/timer/Makefile.in
ZBX-1769-stacked_graph/src/zabbix_server/trapper/.deps
ZBX-1769-stacked_graph/src/zabbix_server/trapper/Makefile
ZBX-1769-stacked_graph/src/zabbix_server/trapper/Makefile.in
ZBX-1769-stacked_graph/src/zabbix_server/utils/.deps
ZBX-1769-stacked_graph/src/zabbix_server/utils/Makefile
ZBX-1769-stacked_graph/src/zabbix_server/utils/Makefile.in
ZBX-1769-stacked_graph/src/zabbix_server/watchdog/.deps
ZBX-1769-stacked_graph/src/zabbix_server/watchdog/Makefile
ZBX-1769-stacked_graph/src/zabbix_server/watchdog/Makefile.in
ZBX-1769-stacked_graph/src/zabbix_server/zabbix_server
ZBX-1769-stacked_graph/upgrades/Makefile
ZBX-1769-stacked_graph/upgrades/Makefile.in
ZBX-1769-stacked_graph/zabbix-*.tar.gz
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
create/Makefile
create/Makefile.in
create/schema/mysql.sql
create/schema/oracle.sql
create/schema/postgresql.sql
create/schema/sqlite.sql
/depcomp
frontends/php/conf/zabbix.conf.php
frontends/php/conf/zabbix.conf.php.bckp
frontends/php/images/general/*.db
frontends/php/images/general/bar/*.db
frontends/php/images/general/bttn/*.db
frontends/php/images/general/tree/*.db
include/config.h
include/config.h.in
include/stamp-h1
/install-sh
man/Makefile
man/Makefile.in
misc/Makefile
misc/Makefile.in
/missing
/nbproject
src/Makefile
src/Makefile.in
src/libs/Makefile
src/libs/Makefile.in
src/libs/zbxcommon/.deps
src/libs/zbxcommon/Makefile
src/libs/zbxcommon/Makefile.in
src/libs/zbxcomms/.deps
src/libs/zbxcomms/Makefile
src/libs/zbxcomms/Makefile.in
src/libs/zbxconf/.deps
src/libs/zbxconf/Makefile
src/libs/zbxconf/Makefile.in
src/libs/zbxcrypto/.deps
src/libs/zbxcrypto/Makefile
src/libs/zbxcrypto/Makefile.in
src/libs/zbxdb/.deps
src/libs/zbxdb/Makefile
src/libs/zbxdb/Makefile.in
src/libs/zbxdbcache/.deps
src/libs/zbxdbcache/Makefile
src/libs/zbxdbcache/Makefile.in
src/libs/zbxdbhigh/.deps
src/libs/zbxdbhigh/Makefile
src/libs/zbxdbhigh/Makefile.in
src/libs/zbxdbhigh/dbschema.c
src/libs/zbxemail/.deps
src/libs/zbxemail/Makefile
src/libs/zbxemail/Makefile.in
src/libs/zbxicmpping/.deps
src/libs/zbxicmpping/Makefile
src/libs/zbxicmpping/Makefile.in
src/libs/zbxjabber/.deps
src/libs/zbxjabber/Makefile
src/libs/zbxjabber/Makefile.in
src/libs/zbxjson/.deps
src/libs/zbxjson/Makefile
src/libs/zbxjson/Makefile.in
src/libs/zbxlog/.deps
src/libs/zbxlog/Makefile
src/libs/zbxlog/Makefile.in
src/libs/zbxnix/.deps
src/libs/zbxnix/Makefile
src/libs/zbxnix/Makefile.in
src/libs/zbxplugin/.deps
src/libs/zbxplugin/Makefile
src/libs/zbxplugin/Makefile.in
src/libs/zbxserver/.deps
src/libs/zbxserver/Makefile
src/libs/zbxserver/Makefile.in
src/libs/zbxsms/.deps
src/libs/zbxsms/Makefile
src/libs/zbxsms/Makefile.in
src/libs/zbxsys/.deps
src/libs/zbxsys/Makefile
src/libs/zbxsys/Makefile.in
src/libs/zbxsysinfo/.deps
src/libs/zbxsysinfo/Makefile
src/libs/zbxsysinfo/Makefile.in
src/libs/zbxsysinfo/aix/.deps
src/libs/zbxsysinfo/aix/Makefile
src/libs/zbxsysinfo/aix/Makefile.in
src/libs/zbxsysinfo/common/.deps
src/libs/zbxsysinfo/common/Makefile
src/libs/zbxsysinfo/common/Makefile.in
src/libs/zbxsysinfo/freebsd/.deps
src/libs/zbxsysinfo/freebsd/Makefile
src/libs/zbxsysinfo/freebsd/Makefile.in
src/libs/zbxsysinfo/hpux/.deps
src/libs/zbxsysinfo/hpux/Makefile
src/libs/zbxsysinfo/hpux/Makefile.in
src/libs/zbxsysinfo/linux/.deps
src/libs/zbxsysinfo/linux/Makefile
src/libs/zbxsysinfo/linux/Makefile.in
src/libs/zbxsysinfo/netbsd/.deps
src/libs/zbxsysinfo/netbsd/Makefile
src/libs/zbxsysinfo/netbsd/Makefile.in
src/libs/zbxsysinfo/openbsd/.deps
src/libs/zbxsysinfo/openbsd/Makefile
src/libs/zbxsysinfo/openbsd/Makefile.in
src/libs/zbxsysinfo/osf/.deps
src/libs/zbxsysinfo/osf/Makefile
src/libs/zbxsysinfo/osf/Makefile.in
src/libs/zbxsysinfo/osx/.deps
src/libs/zbxsysinfo/osx/Makefile
src/libs/zbxsysinfo/osx/Makefile.in
src/libs/zbxsysinfo/simple/.deps
src/libs/zbxsysinfo/simple/Makefile
src/libs/zbxsysinfo/simple/Makefile.in
src/libs/zbxsysinfo/solaris/.deps
src/libs/zbxsysinfo/solaris/Makefile
src/libs/zbxsysinfo/solaris/Makefile.in
src/libs/zbxsysinfo/unknown/.deps
src/libs/zbxsysinfo/unknown/Makefile
src/libs/zbxsysinfo/unknown/Makefile.in
src/zabbix_agent/.deps
src/zabbix_agent/Makefile
src/zabbix_agent/Makefile.in
src/zabbix_agent/zabbix_agent
src/zabbix_agent/zabbix_agentd
src/zabbix_get/.deps
src/zabbix_get/Makefile
src/zabbix_get/Makefile.in
src/zabbix_get/zabbix_get
src/zabbix_proxy/.deps
src/zabbix_proxy/Makefile
src/zabbix_proxy/Makefile.in
src/zabbix_proxy/datasender/.deps
src/zabbix_proxy/datasender/Makefile
src/zabbix_proxy/datasender/Makefile.in
src/zabbix_proxy/heart/.deps
src/zabbix_proxy/heart/Makefile
src/zabbix_proxy/heart/Makefile.in
src/zabbix_proxy/housekeeper/.deps
src/zabbix_proxy/housekeeper/Makefile
src/zabbix_proxy/housekeeper/Makefile.in
src/zabbix_proxy/proxyconfig/.deps
src/zabbix_proxy/proxyconfig/Makefile
src/zabbix_proxy/proxyconfig/Makefile.in
src/zabbix_proxy/zabbix_proxy
src/zabbix_sender/.deps
src/zabbix_sender/Makefile
src/zabbix_sender/Makefile.in
src/zabbix_sender/zabbix_sender
src/zabbix_server/.deps
src/zabbix_server/Makefile
src/zabbix_server/Makefile.in
src/zabbix_server/alerter/.deps
src/zabbix_server/alerter/Makefile
src/zabbix_server/alerter/Makefile.in
src/zabbix_server/dbconfig/.deps
src/zabbix_server/dbconfig/Makefile
src/zabbix_server/dbconfig/Makefile.in
src/zabbix_server/dbsyncer/.deps
src/zabbix_server/dbsyncer/Makefile
src/zabbix_server/dbsyncer/Makefile.in
src/zabbix_server/discoverer/.deps
src/zabbix_server/discoverer/Makefile
src/zabbix_server/discoverer/Makefile.in
src/zabbix_server/escalator/.deps
src/zabbix_server/escalator/Makefile
src/zabbix_server/escalator/Makefile.in
src/zabbix_server/housekeeper/.deps
src/zabbix_server/housekeeper/Makefile
src/zabbix_server/housekeeper/Makefile.in
src/zabbix_server/httppoller/.deps
src/zabbix_server/httppoller/Makefile
src/zabbix_server/httppoller/Makefile.in
src/zabbix_server/nodewatcher/.deps
src/zabbix_server/nodewatcher/Makefile
src/zabbix_server/nodewatcher/Makefile.in
src/zabbix_server/pinger/.deps
src/zabbix_server/pinger/Makefile
src/zabbix_server/pinger/Makefile.in
src/zabbix_server/poller/.deps
src/zabbix_server/poller/Makefile
src/zabbix_server/poller/Makefile.in
src/zabbix_server/timer/.deps
src/zabbix_server/timer/Makefile
src/zabbix_server/timer/Makefile.in
src/zabbix_server/trapper/.deps
src/zabbix_server/trapper/Makefile
src/zabbix_server/trapper/Makefile.in
src/zabbix_server/utils/.deps
src/zabbix_server/utils/Makefile
src/zabbix_server/utils/Makefile.in
src/zabbix_server/watchdog/.deps
src/zabbix_server/watchdog/Makefile
src/zabbix_server/watchdog/Makefile.in
src/zabbix_server/zabbix_server
upgrades/Makefile
upgrades/Makefile.in
/zabbix-*.tar.gz
