* text=auto !eol
/nanoseconds-1.8.3.patch -text
zabbix-1.8.3/bin/win32/zabbix_agentd.exe -text
zabbix-1.8.3/bin/win32/zabbix_get.exe -text
zabbix-1.8.3/bin/win32/zabbix_sender.exe -text
zabbix-1.8.3/bin/win64/zabbix_agentd.exe -text
zabbix-1.8.3/bin/win64/zabbix_get.exe -text
zabbix-1.8.3/bin/win64/zabbix_sender.exe -text
