/.buildpath
/.project
/.settings
/Makefile
/Makefile.in
ZBX-4279-18/.buildpath
ZBX-4279-18/.project
ZBX-4279-18/.settings
ZBX-4279-18/Makefile
ZBX-4279-18/Makefile.in
ZBX-4279-18/aclocal.m4
ZBX-4279-18/autom4te.cache
ZBX-4279-18/build/win32/project/*.idb
ZBX-4279-18/build/win32/project/*.manifest
ZBX-4279-18/build/win32/project/MSG00001.bin
ZBX-4279-18/build/win32/project/messages.h
ZBX-4279-18/build/win32/project/messages.rc
ZBX-4279-18/build/win32/project/resource.res
ZBX-4279-18/compile
ZBX-4279-18/config.guess
ZBX-4279-18/config.log
ZBX-4279-18/config.status
ZBX-4279-18/config.sub
ZBX-4279-18/configure
ZBX-4279-18/create/Makefile
ZBX-4279-18/create/Makefile.in
ZBX-4279-18/create/schema/ibm_db2.sql
ZBX-4279-18/create/schema/mysql.sql
ZBX-4279-18/create/schema/oracle.sql
ZBX-4279-18/create/schema/postgresql.sql
ZBX-4279-18/create/schema/sqlite.sql
ZBX-4279-18/cscope.*
ZBX-4279-18/depcomp
ZBX-4279-18/frontends/php/conf/zabbix.conf.php
ZBX-4279-18/frontends/php/conf/zabbix.conf.php.bckp
ZBX-4279-18/frontends/php/images/general/*.db
ZBX-4279-18/frontends/php/images/general/bar/*.db
ZBX-4279-18/frontends/php/images/general/bttn/*.db
ZBX-4279-18/frontends/php/images/general/tree/*.db
ZBX-4279-18/include/config.h
ZBX-4279-18/include/config.h.in
ZBX-4279-18/include/stamp-h1
ZBX-4279-18/install-sh
ZBX-4279-18/man/Makefile
ZBX-4279-18/man/Makefile.in
ZBX-4279-18/misc/Makefile
ZBX-4279-18/misc/Makefile.in
ZBX-4279-18/missing
ZBX-4279-18/nbproject
ZBX-4279-18/src/Makefile
ZBX-4279-18/src/Makefile.in
ZBX-4279-18/src/libs/Makefile
ZBX-4279-18/src/libs/Makefile.in
ZBX-4279-18/src/libs/zbxalgo/.deps
ZBX-4279-18/src/libs/zbxalgo/Makefile
ZBX-4279-18/src/libs/zbxalgo/Makefile.in
ZBX-4279-18/src/libs/zbxcommon/.deps
ZBX-4279-18/src/libs/zbxcommon/Makefile
ZBX-4279-18/src/libs/zbxcommon/Makefile.in
ZBX-4279-18/src/libs/zbxcomms/.deps
ZBX-4279-18/src/libs/zbxcomms/Makefile
ZBX-4279-18/src/libs/zbxcomms/Makefile.in
ZBX-4279-18/src/libs/zbxcommshigh/.deps
ZBX-4279-18/src/libs/zbxcommshigh/Makefile
ZBX-4279-18/src/libs/zbxcommshigh/Makefile.in
ZBX-4279-18/src/libs/zbxconf/.deps
ZBX-4279-18/src/libs/zbxconf/Makefile
ZBX-4279-18/src/libs/zbxconf/Makefile.in
ZBX-4279-18/src/libs/zbxcrypto/.deps
ZBX-4279-18/src/libs/zbxcrypto/Makefile
ZBX-4279-18/src/libs/zbxcrypto/Makefile.in
ZBX-4279-18/src/libs/zbxdb/.deps
ZBX-4279-18/src/libs/zbxdb/Makefile
ZBX-4279-18/src/libs/zbxdb/Makefile.in
ZBX-4279-18/src/libs/zbxdbcache/.deps
ZBX-4279-18/src/libs/zbxdbcache/Makefile
ZBX-4279-18/src/libs/zbxdbcache/Makefile.in
ZBX-4279-18/src/libs/zbxdbhigh/.deps
ZBX-4279-18/src/libs/zbxdbhigh/Makefile
ZBX-4279-18/src/libs/zbxdbhigh/Makefile.in
ZBX-4279-18/src/libs/zbxdbhigh/dbschema.c
ZBX-4279-18/src/libs/zbxexec/.deps
ZBX-4279-18/src/libs/zbxexec/Makefile
ZBX-4279-18/src/libs/zbxexec/Makefile.in
ZBX-4279-18/src/libs/zbxicmpping/.deps
ZBX-4279-18/src/libs/zbxicmpping/Makefile
ZBX-4279-18/src/libs/zbxicmpping/Makefile.in
ZBX-4279-18/src/libs/zbxjson/.deps
ZBX-4279-18/src/libs/zbxjson/Makefile
ZBX-4279-18/src/libs/zbxjson/Makefile.in
ZBX-4279-18/src/libs/zbxlog/.deps
ZBX-4279-18/src/libs/zbxlog/Makefile
ZBX-4279-18/src/libs/zbxlog/Makefile.in
ZBX-4279-18/src/libs/zbxmedia/.deps
ZBX-4279-18/src/libs/zbxmedia/Makefile
ZBX-4279-18/src/libs/zbxmedia/Makefile.in
ZBX-4279-18/src/libs/zbxmemory/.deps
ZBX-4279-18/src/libs/zbxmemory/Makefile
ZBX-4279-18/src/libs/zbxmemory/Makefile.in
ZBX-4279-18/src/libs/zbxnix/.deps
ZBX-4279-18/src/libs/zbxnix/Makefile
ZBX-4279-18/src/libs/zbxnix/Makefile.in
ZBX-4279-18/src/libs/zbxself/.deps
ZBX-4279-18/src/libs/zbxself/Makefile
ZBX-4279-18/src/libs/zbxself/Makefile.in
ZBX-4279-18/src/libs/zbxserver/.deps
ZBX-4279-18/src/libs/zbxserver/Makefile
ZBX-4279-18/src/libs/zbxserver/Makefile.in
ZBX-4279-18/src/libs/zbxsys/.deps
ZBX-4279-18/src/libs/zbxsys/Makefile
ZBX-4279-18/src/libs/zbxsys/Makefile.in
ZBX-4279-18/src/libs/zbxsysinfo/.deps
ZBX-4279-18/src/libs/zbxsysinfo/Makefile
ZBX-4279-18/src/libs/zbxsysinfo/Makefile.in
ZBX-4279-18/src/libs/zbxsysinfo/aix/.deps
ZBX-4279-18/src/libs/zbxsysinfo/aix/Makefile
ZBX-4279-18/src/libs/zbxsysinfo/aix/Makefile.in
ZBX-4279-18/src/libs/zbxsysinfo/common/.deps
ZBX-4279-18/src/libs/zbxsysinfo/common/Makefile
ZBX-4279-18/src/libs/zbxsysinfo/common/Makefile.in
ZBX-4279-18/src/libs/zbxsysinfo/freebsd/.deps
ZBX-4279-18/src/libs/zbxsysinfo/freebsd/Makefile
ZBX-4279-18/src/libs/zbxsysinfo/freebsd/Makefile.in
ZBX-4279-18/src/libs/zbxsysinfo/hpux/.deps
ZBX-4279-18/src/libs/zbxsysinfo/hpux/Makefile
ZBX-4279-18/src/libs/zbxsysinfo/hpux/Makefile.in
ZBX-4279-18/src/libs/zbxsysinfo/linux/.deps
ZBX-4279-18/src/libs/zbxsysinfo/linux/Makefile
ZBX-4279-18/src/libs/zbxsysinfo/linux/Makefile.in
ZBX-4279-18/src/libs/zbxsysinfo/netbsd/.deps
ZBX-4279-18/src/libs/zbxsysinfo/netbsd/Makefile
ZBX-4279-18/src/libs/zbxsysinfo/netbsd/Makefile.in
ZBX-4279-18/src/libs/zbxsysinfo/openbsd/.deps
ZBX-4279-18/src/libs/zbxsysinfo/openbsd/Makefile
ZBX-4279-18/src/libs/zbxsysinfo/openbsd/Makefile.in
ZBX-4279-18/src/libs/zbxsysinfo/osf/.deps
ZBX-4279-18/src/libs/zbxsysinfo/osf/Makefile
ZBX-4279-18/src/libs/zbxsysinfo/osf/Makefile.in
ZBX-4279-18/src/libs/zbxsysinfo/osx/.deps
ZBX-4279-18/src/libs/zbxsysinfo/osx/Makefile
ZBX-4279-18/src/libs/zbxsysinfo/osx/Makefile.in
ZBX-4279-18/src/libs/zbxsysinfo/simple/.deps
ZBX-4279-18/src/libs/zbxsysinfo/simple/Makefile
ZBX-4279-18/src/libs/zbxsysinfo/simple/Makefile.in
ZBX-4279-18/src/libs/zbxsysinfo/solaris/.deps
ZBX-4279-18/src/libs/zbxsysinfo/solaris/Makefile
ZBX-4279-18/src/libs/zbxsysinfo/solaris/Makefile.in
ZBX-4279-18/src/libs/zbxsysinfo/unknown/.deps
ZBX-4279-18/src/libs/zbxsysinfo/unknown/Makefile
ZBX-4279-18/src/libs/zbxsysinfo/unknown/Makefile.in
ZBX-4279-18/src/zabbix_agent/.deps
ZBX-4279-18/src/zabbix_agent/Makefile
ZBX-4279-18/src/zabbix_agent/Makefile.in
ZBX-4279-18/src/zabbix_agent/zabbix_agent
ZBX-4279-18/src/zabbix_agent/zabbix_agentd
ZBX-4279-18/src/zabbix_get/.deps
ZBX-4279-18/src/zabbix_get/Makefile
ZBX-4279-18/src/zabbix_get/Makefile.in
ZBX-4279-18/src/zabbix_get/zabbix_get
ZBX-4279-18/src/zabbix_proxy/.deps
ZBX-4279-18/src/zabbix_proxy/Makefile
ZBX-4279-18/src/zabbix_proxy/Makefile.in
ZBX-4279-18/src/zabbix_proxy/datasender/.deps
ZBX-4279-18/src/zabbix_proxy/datasender/Makefile
ZBX-4279-18/src/zabbix_proxy/datasender/Makefile.in
ZBX-4279-18/src/zabbix_proxy/heart/.deps
ZBX-4279-18/src/zabbix_proxy/heart/Makefile
ZBX-4279-18/src/zabbix_proxy/heart/Makefile.in
ZBX-4279-18/src/zabbix_proxy/housekeeper/.deps
ZBX-4279-18/src/zabbix_proxy/housekeeper/Makefile
ZBX-4279-18/src/zabbix_proxy/housekeeper/Makefile.in
ZBX-4279-18/src/zabbix_proxy/proxyconfig/.deps
ZBX-4279-18/src/zabbix_proxy/proxyconfig/Makefile
ZBX-4279-18/src/zabbix_proxy/proxyconfig/Makefile.in
ZBX-4279-18/src/zabbix_proxy/zabbix_proxy
ZBX-4279-18/src/zabbix_sender/.deps
ZBX-4279-18/src/zabbix_sender/Makefile
ZBX-4279-18/src/zabbix_sender/Makefile.in
ZBX-4279-18/src/zabbix_sender/zabbix_sender
ZBX-4279-18/src/zabbix_server/.deps
ZBX-4279-18/src/zabbix_server/Makefile
ZBX-4279-18/src/zabbix_server/Makefile.in
ZBX-4279-18/src/zabbix_server/alerter/.deps
ZBX-4279-18/src/zabbix_server/alerter/Makefile
ZBX-4279-18/src/zabbix_server/alerter/Makefile.in
ZBX-4279-18/src/zabbix_server/dbconfig/.deps
ZBX-4279-18/src/zabbix_server/dbconfig/Makefile
ZBX-4279-18/src/zabbix_server/dbconfig/Makefile.in
ZBX-4279-18/src/zabbix_server/dbsyncer/.deps
ZBX-4279-18/src/zabbix_server/dbsyncer/Makefile
ZBX-4279-18/src/zabbix_server/dbsyncer/Makefile.in
ZBX-4279-18/src/zabbix_server/discoverer/.deps
ZBX-4279-18/src/zabbix_server/discoverer/Makefile
ZBX-4279-18/src/zabbix_server/discoverer/Makefile.in
ZBX-4279-18/src/zabbix_server/escalator/.deps
ZBX-4279-18/src/zabbix_server/escalator/Makefile
ZBX-4279-18/src/zabbix_server/escalator/Makefile.in
ZBX-4279-18/src/zabbix_server/housekeeper/.deps
ZBX-4279-18/src/zabbix_server/housekeeper/Makefile
ZBX-4279-18/src/zabbix_server/housekeeper/Makefile.in
ZBX-4279-18/src/zabbix_server/httppoller/.deps
ZBX-4279-18/src/zabbix_server/httppoller/Makefile
ZBX-4279-18/src/zabbix_server/httppoller/Makefile.in
ZBX-4279-18/src/zabbix_server/nodewatcher/.deps
ZBX-4279-18/src/zabbix_server/nodewatcher/Makefile
ZBX-4279-18/src/zabbix_server/nodewatcher/Makefile.in
ZBX-4279-18/src/zabbix_server/pinger/.deps
ZBX-4279-18/src/zabbix_server/pinger/Makefile
ZBX-4279-18/src/zabbix_server/pinger/Makefile.in
ZBX-4279-18/src/zabbix_server/poller/.deps
ZBX-4279-18/src/zabbix_server/poller/Makefile
ZBX-4279-18/src/zabbix_server/poller/Makefile.in
ZBX-4279-18/src/zabbix_server/proxypoller/.deps
ZBX-4279-18/src/zabbix_server/proxypoller/Makefile
ZBX-4279-18/src/zabbix_server/proxypoller/Makefile.in
ZBX-4279-18/src/zabbix_server/selfmon/.deps
ZBX-4279-18/src/zabbix_server/selfmon/Makefile
ZBX-4279-18/src/zabbix_server/selfmon/Makefile.in
ZBX-4279-18/src/zabbix_server/timer/.deps
ZBX-4279-18/src/zabbix_server/timer/Makefile
ZBX-4279-18/src/zabbix_server/timer/Makefile.in
ZBX-4279-18/src/zabbix_server/trapper/.deps
ZBX-4279-18/src/zabbix_server/trapper/Makefile
ZBX-4279-18/src/zabbix_server/trapper/Makefile.in
ZBX-4279-18/src/zabbix_server/utils/.deps
ZBX-4279-18/src/zabbix_server/utils/Makefile
ZBX-4279-18/src/zabbix_server/utils/Makefile.in
ZBX-4279-18/src/zabbix_server/watchdog/.deps
ZBX-4279-18/src/zabbix_server/watchdog/Makefile
ZBX-4279-18/src/zabbix_server/watchdog/Makefile.in
ZBX-4279-18/src/zabbix_server/zabbix_server
ZBX-4279-18/tags
ZBX-4279-18/upgrades/Makefile
ZBX-4279-18/upgrades/Makefile.in
ZBX-4279-18/zabbix-*.tar.gz
/aclocal.m4
/autom4te.cache
build/win32/project/*.idb
build/win32/project/*.manifest
build/win32/project/MSG00001.bin
build/win32/project/messages.h
build/win32/project/messages.rc
build/win32/project/resource.res
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
create/Makefile
create/Makefile.in
create/schema/ibm_db2.sql
create/schema/mysql.sql
create/schema/oracle.sql
create/schema/postgresql.sql
create/schema/sqlite.sql
/cscope.*
/depcomp
frontends/php/conf/zabbix.conf.php
frontends/php/conf/zabbix.conf.php.bckp
frontends/php/images/general/*.db
frontends/php/images/general/bar/*.db
frontends/php/images/general/bttn/*.db
frontends/php/images/general/tree/*.db
include/config.h
include/config.h.in
include/stamp-h1
/install-sh
man/Makefile
man/Makefile.in
misc/Makefile
misc/Makefile.in
/missing
/nbproject
src/Makefile
src/Makefile.in
src/libs/Makefile
src/libs/Makefile.in
src/libs/zbxalgo/.deps
src/libs/zbxalgo/Makefile
src/libs/zbxalgo/Makefile.in
src/libs/zbxcommon/.deps
src/libs/zbxcommon/Makefile
src/libs/zbxcommon/Makefile.in
src/libs/zbxcomms/.deps
src/libs/zbxcomms/Makefile
src/libs/zbxcomms/Makefile.in
src/libs/zbxcommshigh/.deps
src/libs/zbxcommshigh/Makefile
src/libs/zbxcommshigh/Makefile.in
src/libs/zbxconf/.deps
src/libs/zbxconf/Makefile
src/libs/zbxconf/Makefile.in
src/libs/zbxcrypto/.deps
src/libs/zbxcrypto/Makefile
src/libs/zbxcrypto/Makefile.in
src/libs/zbxdb/.deps
src/libs/zbxdb/Makefile
src/libs/zbxdb/Makefile.in
src/libs/zbxdbcache/.deps
src/libs/zbxdbcache/Makefile
src/libs/zbxdbcache/Makefile.in
src/libs/zbxdbhigh/.deps
src/libs/zbxdbhigh/Makefile
src/libs/zbxdbhigh/Makefile.in
src/libs/zbxdbhigh/dbschema.c
src/libs/zbxexec/.deps
src/libs/zbxexec/Makefile
src/libs/zbxexec/Makefile.in
src/libs/zbxicmpping/.deps
src/libs/zbxicmpping/Makefile
src/libs/zbxicmpping/Makefile.in
src/libs/zbxjson/.deps
src/libs/zbxjson/Makefile
src/libs/zbxjson/Makefile.in
src/libs/zbxlog/.deps
src/libs/zbxlog/Makefile
src/libs/zbxlog/Makefile.in
src/libs/zbxmedia/.deps
src/libs/zbxmedia/Makefile
src/libs/zbxmedia/Makefile.in
src/libs/zbxmemory/.deps
src/libs/zbxmemory/Makefile
src/libs/zbxmemory/Makefile.in
src/libs/zbxnix/.deps
src/libs/zbxnix/Makefile
src/libs/zbxnix/Makefile.in
src/libs/zbxself/.deps
src/libs/zbxself/Makefile
src/libs/zbxself/Makefile.in
src/libs/zbxserver/.deps
src/libs/zbxserver/Makefile
src/libs/zbxserver/Makefile.in
src/libs/zbxsys/.deps
src/libs/zbxsys/Makefile
src/libs/zbxsys/Makefile.in
src/libs/zbxsysinfo/.deps
src/libs/zbxsysinfo/Makefile
src/libs/zbxsysinfo/Makefile.in
src/libs/zbxsysinfo/aix/.deps
src/libs/zbxsysinfo/aix/Makefile
src/libs/zbxsysinfo/aix/Makefile.in
src/libs/zbxsysinfo/common/.deps
src/libs/zbxsysinfo/common/Makefile
src/libs/zbxsysinfo/common/Makefile.in
src/libs/zbxsysinfo/freebsd/.deps
src/libs/zbxsysinfo/freebsd/Makefile
src/libs/zbxsysinfo/freebsd/Makefile.in
src/libs/zbxsysinfo/hpux/.deps
src/libs/zbxsysinfo/hpux/Makefile
src/libs/zbxsysinfo/hpux/Makefile.in
src/libs/zbxsysinfo/linux/.deps
src/libs/zbxsysinfo/linux/Makefile
src/libs/zbxsysinfo/linux/Makefile.in
src/libs/zbxsysinfo/netbsd/.deps
src/libs/zbxsysinfo/netbsd/Makefile
src/libs/zbxsysinfo/netbsd/Makefile.in
src/libs/zbxsysinfo/openbsd/.deps
src/libs/zbxsysinfo/openbsd/Makefile
src/libs/zbxsysinfo/openbsd/Makefile.in
src/libs/zbxsysinfo/osf/.deps
src/libs/zbxsysinfo/osf/Makefile
src/libs/zbxsysinfo/osf/Makefile.in
src/libs/zbxsysinfo/osx/.deps
src/libs/zbxsysinfo/osx/Makefile
src/libs/zbxsysinfo/osx/Makefile.in
src/libs/zbxsysinfo/simple/.deps
src/libs/zbxsysinfo/simple/Makefile
src/libs/zbxsysinfo/simple/Makefile.in
src/libs/zbxsysinfo/solaris/.deps
src/libs/zbxsysinfo/solaris/Makefile
src/libs/zbxsysinfo/solaris/Makefile.in
src/libs/zbxsysinfo/unknown/.deps
src/libs/zbxsysinfo/unknown/Makefile
src/libs/zbxsysinfo/unknown/Makefile.in
src/zabbix_agent/.deps
src/zabbix_agent/Makefile
src/zabbix_agent/Makefile.in
src/zabbix_agent/zabbix_agent
src/zabbix_agent/zabbix_agentd
src/zabbix_get/.deps
src/zabbix_get/Makefile
src/zabbix_get/Makefile.in
src/zabbix_get/zabbix_get
src/zabbix_proxy/.deps
src/zabbix_proxy/Makefile
src/zabbix_proxy/Makefile.in
src/zabbix_proxy/datasender/.deps
src/zabbix_proxy/datasender/Makefile
src/zabbix_proxy/datasender/Makefile.in
src/zabbix_proxy/heart/.deps
src/zabbix_proxy/heart/Makefile
src/zabbix_proxy/heart/Makefile.in
src/zabbix_proxy/housekeeper/.deps
src/zabbix_proxy/housekeeper/Makefile
src/zabbix_proxy/housekeeper/Makefile.in
src/zabbix_proxy/proxyconfig/.deps
src/zabbix_proxy/proxyconfig/Makefile
src/zabbix_proxy/proxyconfig/Makefile.in
src/zabbix_proxy/zabbix_proxy
src/zabbix_sender/.deps
src/zabbix_sender/Makefile
src/zabbix_sender/Makefile.in
src/zabbix_sender/zabbix_sender
src/zabbix_server/.deps
src/zabbix_server/Makefile
src/zabbix_server/Makefile.in
src/zabbix_server/alerter/.deps
src/zabbix_server/alerter/Makefile
src/zabbix_server/alerter/Makefile.in
src/zabbix_server/dbconfig/.deps
src/zabbix_server/dbconfig/Makefile
src/zabbix_server/dbconfig/Makefile.in
src/zabbix_server/dbsyncer/.deps
src/zabbix_server/dbsyncer/Makefile
src/zabbix_server/dbsyncer/Makefile.in
src/zabbix_server/discoverer/.deps
src/zabbix_server/discoverer/Makefile
src/zabbix_server/discoverer/Makefile.in
src/zabbix_server/escalator/.deps
src/zabbix_server/escalator/Makefile
src/zabbix_server/escalator/Makefile.in
src/zabbix_server/housekeeper/.deps
src/zabbix_server/housekeeper/Makefile
src/zabbix_server/housekeeper/Makefile.in
src/zabbix_server/httppoller/.deps
src/zabbix_server/httppoller/Makefile
src/zabbix_server/httppoller/Makefile.in
src/zabbix_server/nodewatcher/.deps
src/zabbix_server/nodewatcher/Makefile
src/zabbix_server/nodewatcher/Makefile.in
src/zabbix_server/pinger/.deps
src/zabbix_server/pinger/Makefile
src/zabbix_server/pinger/Makefile.in
src/zabbix_server/poller/.deps
src/zabbix_server/poller/Makefile
src/zabbix_server/poller/Makefile.in
src/zabbix_server/proxypoller/.deps
src/zabbix_server/proxypoller/Makefile
src/zabbix_server/proxypoller/Makefile.in
src/zabbix_server/selfmon/.deps
src/zabbix_server/selfmon/Makefile
src/zabbix_server/selfmon/Makefile.in
src/zabbix_server/timer/.deps
src/zabbix_server/timer/Makefile
src/zabbix_server/timer/Makefile.in
src/zabbix_server/trapper/.deps
src/zabbix_server/trapper/Makefile
src/zabbix_server/trapper/Makefile.in
src/zabbix_server/utils/.deps
src/zabbix_server/utils/Makefile
src/zabbix_server/utils/Makefile.in
src/zabbix_server/watchdog/.deps
src/zabbix_server/watchdog/Makefile
src/zabbix_server/watchdog/Makefile.in
src/zabbix_server/zabbix_server
/tags
upgrades/Makefile
upgrades/Makefile.in
/zabbix-*.tar.gz
